<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>studentLogin</servlet-name>
        <servlet-class>webapp.StudentLogin</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>studentLogin</servlet-name>
        <url-pattern>/student-login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>webapp.AdminLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/admin-login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postLogin</servlet-name>
        <servlet-class>webapp.PostLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>postLogin</servlet-name>
        <url-pattern>/post-login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>studentRegister</servlet-name>
        <servlet-class>webapp.StudentRegister</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentRegister</servlet-name>
        <url-pattern>/student-register</url-pattern>
    </servlet-mapping>

    
</web-app>